<div class="bw-back">
    <div class="bw-back-container">
        <!-- Site header -->
        <div class="bw-header">
            <button class="bw-action bw-show-on-mobile bw-close">
                <span class="fas fa-chevron-left"></span>
            </button>
            <a href="{{ site.url }}" class="bw-title">{{ site.title }}</a>
        </div>

        <!-- Links Table -->
        <table class="bw-links">
            <tr>
                <td>
                    <a href="https://github.com/andydevs">
                        <span class='fab fa-github'></span>
                        {{ site.github_username }}
                    </a>
                </td>
            </tr>
        </table>

        <!-- Footer -->
        <div class="bw-footer">
            <p>{{ site.description }}</p>
        </div>
    </div>
</div>