<div class="bw-back">
    <div class="bw-back-container">
        <!-- Site header -->
        <div class="bw-header">
            <button class="bw-action bw-show-on-mobile bw-close">
                <span class="fas fa-chevron-left"></span>
            </button>
            <a href="{{ "/" | prepend: site.baseurl | prepend: site.url }}" class="bw-title bw-mega">
                {{ site.title }}
            </a>
        </div>

        <!-- Page links grid -->
        <div class="bw-links">
            {% for link in site.links %}
                <a href="{{ link.url | prepend: site.baseurl | prepend: site.url }}">
                    {{ link.text }}
                </a>
            {% endfor %}
        </div>

        <!-- Social links grid -->
        <div class="bw-social">
            {% if site.social.github %}
                <a href="https://github.com/{{ site.social.github }}">
                    <span class='fab fa-github'></span>
                </a>
            {% endif %}
            {% if site.social.twitter %}
                <a href="https://twitter.com/{{ site.social.twitter }}">
                    <span class='fab fa-twitter'></span>
                </a>
            {% endif %}
            {% if site.social.email %}
                <a href="mailto://{{ site.social.email }}">
                    <span class="fas fa-envelope"></span>
                </a>
            {% endif %}
        </div>

        <!-- Footer -->
        <footer class="bw-footer">
            <p>{{ site.description }}</p>
        </footer>
    </div>
</div>