.bw-front {
    // Positioning and sizing
    position: absolute;
    top: 0%;
    left: $desktop-menu-size;
    right: 0%;
    min-height: 100%;

    /* Setting a z-index of 0 to so that
     * this is in front of the back layer
     * with a z-index of -1 (see _back.scss) */
    z-index: 0;

    // Only vertical scrolling
    overflow-x: hidden;

    // Coloring
    color: black;
    background-color: $white-color;
    border-color: $back-color;

    // Shadow
    box-shadow: -2pt 0pt 8pt darken($back-color, 33%);

    // Mobile
    @include on-mobile {
        // Positioning
        top: 0%;
        left: 0%;
        right: 0%;
        margin-left: 0%;
    };

    // Container
    .bw-front-container {
        margin-left: $spacing-unit;
        margin-right: $spacing-unit;
        padding: $spacing-unit;
    }
}
