.bw-post-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: $spacing-unit;
    column-gap: $spacing-unit;

    @include on-tablet {
        grid-template-columns: repeat(1, 1fr);
    }

    .bw-post {
        display: grid;
        grid-template-rows: auto 1fr auto;

        .bw-post-links {
            display: block;
            text-align: right;

            @include on-mobile {
                display: flex;
                flex-direction: row-reverse;
            }

            a {
                flex: 0;
                text-align: center;
                @include on-mobile {
                    flex: 1;
                }
            }
        }
    }
}