---
layout: default
---
<div class="bw-page-header">
    <h1 class="bw-title">{{ site.title }}</h1>
    <button class='bw-action bw-show-on-mobile bw-open'>
        <span class="fas fa-chevron-right"></span>
    </button>
</div>
<div class="bw-post-grid">
    {% for post in site.posts %}
        <div class="bw-post">
            <h3 class="bw-post-title">{{ post.title }}</h3>
            {% if post.date %}
                <h4 class="bw-post-date">{{ post.date | date: "%b %-d, %Y" }}</h4>
            {% endif %}
            <p class="bw-post-excerpt">{{ post.excerpt }}</p>
            <p class="bw-post-links">
                <a class="bw-cutout-button" 
                    href="{{ post.url | prepend: site.baseurl }}">
                    Read More
                </a>
            </p>
        </div>
    {% endfor %}
</div>